{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block #wow fadeInLeft" data-#wow-delay=".3s" data-#wow-duration="500ms">
                    {{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block #wow fadeInRight" data-#wow-delay=".3s" data-#wow-duration="500ms">
                    {{ with .Site.Params.about.image }}<a href="{{ . | absURL }}" target="_blank"><img src="{{ . | absURL }}" alt="about-image"></a>{{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}
