{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">
                    <span>
                        <!--<script>document.write(new Date().getFullYear())</script>-->
                    </span>Template-Vorlage von
                    <a href="https://www.themefisher.com" target="_blank">Themefisher</a>.
                </p>
                <p class="copyright">
                Die Inhalte stehen, wenn nicht anders angegeben, unter 
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>.
                </p>
                <p class="copyright">
                Freifunk-Logo: Von <a href="//commons.wikimedia.org/wiki/File:Freifunk_logo.gif" title="File:Freifunk logo.gif">Freifunk_logo.gif</a>: freifunk.netderivative work: <a href="//commons.wikimedia.org/w/index.php?title=User:Biktora&amp;action=edit&amp;redlink=1" class="new" title="User:Biktora (page does not exist)">Biktora</a> (<a href="//commons.wikimedia.org/wiki/User_talk:Biktora" title="User talk:Biktora"><span class="signature-talk">talk</span></a>) - <a href="//commons.wikimedia.org/wiki/File:Freifunk_logo.gif" title="File:Freifunk logo.gif">Freifunk_logo.gif</a>, <a href="https://creativecommons.org/licenses/by-sa/2.5" title="Creative Commons Attribution-Share Alike 2.5">CC BY-SA 2.5</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=9515948">Link</a>; zugeschnitten
                </p>
            </div>
            <!--<div class="col-md-4 col-12">
                {{ " Social Media " | safeHTML }}
                <ul class="social text-center text-md-right text-lg-right">
                    <li>
                        <a style="font-size: 1rem;" href="https://framagit.org/freifunk-holzwinkel" class="gitlab">
                           GitLab<i class="icon ion-md-code"></i>
                        </a>
                    </li>
                    <li>
                        <a style="font-size: 1rem;" href="https://matrix.to/#/#freifunk-holzwinkel:tchncs.de" class="matrix">
                            Matrix<i class="icon ion-md-chatboxes"></i>
                        </a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ "plugins/jQurey/jquery.min.js" | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ "plugins/form-validation/jquery.form.js" | absURL }}"></script>
<script src="{{ "plugins/form-validation/jquery.validate.min.js" | absURL }}"></script>
{{ "<!-- owl carouserl js -->" | safeHTML }}
<script src="{{ "plugins/owl-carousel/owl.carousel.min.js" | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- #wow js -->" | safeHTML }}
<script src="{{ "plugins/#wow-js/#wow.min.js" | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ "plugins/slider/slider.js" | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ "plugins/facncybox/jquery.fancybox.js" | absURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
<script src="{{ "js/main.js" | absURL }}"></script>

<script type="text/javascript">
  var DIGITAL_CLIMATE_STRIKE_OPTIONS = {
    /**
     * Specify view cookie expiration. After initial view, widget will not be
     * displayed to a user again until after this cookie expires. Defaults to 
     * one day.
     */
    cookieExpirationDays: 1, // @type {number}
    
    /**
     * Set the language of the widget. We currently support:
     * 'en': English
     * 'de': German
     * 'es': Spanish
     * 'cs': Czech
     * 'fr': French
     * 'nl': Dutch
     * 'tr': Turkish
     * Defaults to null, which will obey the nagivator.language setting of the 
     * viewer's browser.
     */
     language: "de", // @type {string}
     
    /**
     * Allow you to override the iFrame hostname. Defaults to https://assets.digitalclimatestrike.net  
     */
    iframeHost: 'https://assets.digitalclimatestrike.net', // @type {string}

    /**
     * Prevents the widget iframe from loading Google Analytics. Defaults to
     * false. (Google Analytics will also be disabled if doNotTrack is set on
     * the user's browser.)
     */
    disableGoogleAnalytics: true, // @type {boolean}

    /**
     * Always show the widget, even when someone has closed the widget and set the cookie on their device. 
     * Useful for testing. Defaults to false.
     */
    alwaysShowWidget: false, // @type {boolean}

    /**
     * Automatically makes the widget full page. Defaults to false.
     */
    forceFullPageWidget: false, // @type {boolean}
    
    /**
    * For the full page widget, shows a close button "x" and hides the message about the site being 
    * available tomorrow. Defaults to false.
    */
    showCloseButtonOnFullPageWidget: true, // @type {boolean}
    
    /**
     * The date when the sticky footer widget should start showing on your web site.
     * Note: the month is one integer less than the number of the month. E.g. 8 is September, not August.
     * Defaults to new Date(2019, 7, 1) (August 1st, 2019).
     */
    footerDisplayStartDate: new Date(), //@ type {Date object}
    
    /**
     * The date when the full page widget should showing on your web site for 24 hours. 
     * Note: the month is one integer less than the number of the month. E.g. 8 is September, not August.
     * Defaults to new Date(2019, 8, 20) (September 20th, 2019)
     */
    fullPageDisplayStartDate: new Date(2019, 8, 20), //@ type {Date object}
  };
</script>
<script src="https://assets.digitalclimatestrike.net/widget.js" async></script>
</body>

</html>
