<footer id="footer" style="padding-bottom: 0;" >
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-12 text-center text-lg-left text-md-left">
                <p class="copyright">
                Blick über Welden: Von <a href="//commons.wikimedia.org/wiki/User:Franzfoto" title="User:Franzfoto">Franzfoto</a> - <span class="int-own-work" lang="de">Eigenes Werk</span>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=19341823">Link</a> | Erklärung: Seite <a href="https://de.wikipedia.org/w/index.php?title=Freifunk&oldid=178966561">„Freifunk“</a>. aus Wikipedia, Die freie Enzyklopädie. Lizenziert unter <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 Unported Lizenz</a> | Freifunk verbindet! (Video): Von Sven Heinze, Jürgen Neumann, Silke Meyer, Philipp Seefeldt, Anne Helm und Thomas Deittert. Lizenziert unter <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 Unported Lizenz</a>
                </p>
            </div>
        </div>
    </div>
</footer>

</html>
